.App-header {
    padding-left: 30vw;
    background-color: #8ad2ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    white-space: break-spaces;
    font-family: Monaco, "Courier New", Courier, monospace;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

span {
    transition:
        0.6s opacity,
        0.6s display,
        0.6s width;
    transition-behavior: allow-discrete;

    width: calc(var(--length) * 1ch);
    opacity: 1;
    display: inline-block;
    height: 1lh;
    overflow: hidden;
    white-space: nowrap;
}

.remove {
    @starting-style {
        width: calc(var(--length) * 1ch);
        opacity: 1;
    }

    width: calc(var(--new-length) * 1ch);
    opacity: 0;
}

.appear {
    @starting-style {
        opacity: 0;
    }

    margin-left: calc(var(--length) * -1ch);
    transition-delay: 0.6s;
}

@keyframes new-appear {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: inline-block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.new {
    animation: new-appear;
    animation-fill-mode: both;
    animation-duration: 0.6s;
    animation-delay: 0.6s;
}

.empty {
    @starting-style {
        width: 0;
        display: inline-block;
    }

    transition:
        0s display,
        0.6s width;
    transition-behavior: allow-discrete;
    transition-delay: 0.6s, 0s;
    display: none;
}
